body{margin:0px;padding:0px;font-size:12px}
a,a:visited{color:#808080;text-decoration:none;}
.yr_content{width:800px;margin:auto}
.yr_top{background:url("http://ww4.sinaimg.cn/large/6f0dcf15gw1drjh7gb4ndg.gif");height:134px;margin:auto}
.yr_main{   background: url("http://ww3.sinaimg.cn/large/6f0dcf15gw1drjh7hitz5j.jpg") no-repeat scroll left bottom transparent;
    margin: auto;
    padding: 10px 50px 340px;}
.yr_c1{font-size:14px;font-weight:bold;color:#999;line-height:2;margin:10px 0}
.yr_c2{font-size:16px;font-weight:bold;color:#d20e6d;line-height:2;margin:10px 28px}
.yr_c3{font-size:12px;color:#999;line-height:1.6;margin:10px 0}
.yr_c4 {text-align:center}
.yr_c5{font-size:14px;font-weight:bold;color:#ff2c8a;}
.yr_c5 span{font-size:14px;font-weight:bold;color:#aaa;}
.yr_c6{padding:30px 60px;text-align:center;font-size:14px}
.yr_c8{color:#aaa}
.yr_d1{text-align:center}
.yr_d2{    color: red;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 0 29px;
    text-align: center;line-height:2}
.yr_d3{font-size:14px;font-weight:bold;color:#ff2c8a;text-align:center}
.yr_d4{font-size:14px;color:#ff2c8a;text-align:center;padding:10px}
.yr_d4 textarea{width:500px;height:60px;font-size:14px;color:#999}
.yr_d5{text-align:center}
img{border:0px}